* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
}

/* * WIDTH */

.wh-100 {
    width: 100%;
}

/* * HEIGHT * */

.ht-50 {
    height: 50px;
}

.ht-100 {
    height: 100%;
}

/* * BACKGROUND * */

.bg-black {
    background-color: black;
}

.bg-op {
    background-color: rgba(50, 50, 50, 0.9);
}

.bg-blackgrey {
    background-color: #28282B;
}

.bg-grey {
    background-color: grey;
}

/* * TEXT * */
.color-white {
    color: white;
}

.color-green {
    color: lawngreen;
}

.color-red {
    color: red;
}

.fontsz-10 {
    font-size: 10px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* * PADDING  * */
.pg-4 {
    padding: 4px;
}

.pg-8 {
    padding-left: 8px;
}

.pg-10 {
    padding: 10px;
}

/* * MARGIN * */
.marginl-4 {
    margin-left: 4px;
}

.marginl-8 {
    margin-left: 8px;
}

.marginr-8 {
    margin-right: 8px;
}


/* * BORDER * */

.br-radius {
    border-radius: 8px;
}

/* * POSITION * */
.position-abs {
    position: absolute;
}

.bt-left {
    bottom: 0;
    left: 0;
}

/* * FLEX * */

.flex {
    display: flex;
}

/* * ITEMS CENTER * */

.items-center {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.justify-contentend {
    justify-content: flex-end;
}



header {
    display: flex;
    justify-content: end;
    align-items: start;
    font-size: 15px;
}

main {
    height: calc(100vh - 100px);
    overflow: auto;
    margin-right: 15px;
    margin-left: 15px;
}

.photocontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.photo {
    max-width: 250px;
    max-height: 125px;
    position: relative;
    margin-bottom: 10px;
}

img {
    height: 125px;
    width: 250px;
    object-fit: cover;
}

.footercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left,
.right {
    width: 20%;
}

.center {
    width: 80%;
    margin: auto;
}

.right {
    height: 100%;
}